<nav>
	<p id="user">Hi <%= current_user.name %>!</p>
	<%=link_to "New mail ›", new_message_path, {:remote => true, :id => "new-mail-button"}%>
	<ul>
		<li><%=link_to "Mails", messages_path%></li>
		<li><%=link_to "Log out", session_path(current_user), :method => :delete%></li>
	</ul>
</nav>