<nav>
	<span id="user">Hi <%= current_user.name %>!</span><%=link_to "New mail ›", new_message_path, {:remote => true, :id => "new-mail-button"}%>
	<ul>
		<li><a href="/">Mails</a></li>
		<li><a href="#">Account</li>
		<li><a href="#">Log out ›</a></li>
	</ul>
</nav>