<aside class="sidebar">
	<h2>Statistics</h2>
	
	<ul>
		<li>Mails sent: <strong><%= Message.sent_message_count(current_user) %></strong></li>
		<li>Mails queued: <strong><%= Message.queued_message_count(current_user) %></strong></li>
		
	</ul>
	
</aside>