
	<h2>Statistics</h2>
	
	<ul>
		<li>Mails sent: <strong><%= current_user.messages.sent.count%></strong></li>
		<li>Mails queued: <strong><%= current_user.messages.queued.count %></strong></li>
		<li id="all-mails-count">All mails: <strong><%= current_user.messages.count %></strong></li>
	</ul>
	
