<% @body_class = "login"%>

<%= image_tag "hero.png", :alt => "Remind-a-Mail", :id => "hero" %>

<div id="container">
	<section class="floated">
		<h2>Welcome to Remind-a-Mail!</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit. Quisque ultrices gravida pede. Mauris accumsan vulputate tellus. Phasellus condimentum bibendum dolor. Mauris sed ipsum.</p>

	</section>
	
	<section class="floated">
		<h2>Choose your login method</h2>
	
		<ul id="login-list">
			<li>
				<a href="/auth/twitter" id="twitter" class="auth_provider">
				  <%= image_tag "twitter_32.png", :alt => "Twitter" %>
				  Login with Twitter ›
				</a>
			</li>
			<li>
				<a href="/auth/facebook" id="facebook" class="auth_provider">
				  <%= image_tag "facebook_32.png", :alt => "Facebook" %>
				  Login with Facebook ›
				</a>
			</li>
		</ul>
	
	</section>
</div>

<section id="how">
	<h2>How it works</h2>
	<p>
		
	</p>
</section>

<section id="reviews">
	<h2>Appraisals</h2>
		<p id="first">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit.
		<cite>Johan</cite>
		</p>
		
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit.
		<cite>Johan</cite>
	</p>
</section>