<% @body_class = "login"%>

<%= image_tag "hero.png", :alt => "Remind-a-Mail", :id => "hero" %>
	
	<section id="login-list">
		<h2>Choose your login method</h2>
	
		<ul>
			<li>
				<a href="/auth/twitter" id="twitter" class="auth_provider">
				  <%= image_tag "twitter_32.png", :alt => "Twitter" %>
				  Login with Twitter ›
				</a>
			</li>
			<li>
				<a href="/auth/facebook" id="facebook" class="auth_provider">
				  <%= image_tag "facebook_32.png", :alt => "Facebook" %>
				  Login with Facebook ›
				</a>
			</li>
		</ul>
	
	</section>

	<section id="what">
		<h2>What is this?</h2>
			<p>
				Remind-a-Mail lets you send e-mails to yourself or others, but with a delay. Specify a date, and the mail will
				be sent and delivered. 
			</p>
			<p>
				Just sign up using your Twitter or Facebook account and you're started. The application
				is doing one thing only, and that is sending e-mails. Try it out, and don't be freaked out when you one day
				receive that weird e-mail from the past.
			</p>

	</section>

<section id="reviews">
	<h2>Appraisals</h2>
		<p id="first">
			At The Westboro Baptist Church we value design, technology and innovation. It's in our veins. I came across Remind-a-Mail one day, and
			I was blown away. Boom. Remind-a-Mail is the world's first e-mail delayer (unfortunately not patented) and it's
			simple but useful idea is huge. I now give you Remind-a-Mail.
		<cite>Fred Phelps, Sr.</cite>
		</p>
		
		<p>
			I really like Remind-a-Mail's idea. Sometimes, todo lists just don't cut it. I switch GTD apps like I change
			socks but the one reliable thing nowadays is truly e-mail. This rocks! It is also a good way to tell someone you love them when you don't have the balls to do so. But I can't. With Remind-a-Mail I can set a date and just send
			the mail and forget about it. 
		<cite>John Cuntingham.</cite>
	</p>
</section>