header[role="banner"]{

	padding-top: $space + 2em;
	height: 7em;
	border-bottom: 1px solid #eee;
	margin-bottom: 1em;
	@include clearfix;
	
	h1{
		float: left; 
		@include font(4.8em, 1);
		
		a{
			font-family: Ballpark, "Brush Script MT", cursive;
			color: #363636;
			text-decoration: none;
			font-weight: normal;
			
			&:hover{
				color: #000;
			}
		}
	}
	
	nav{
		float: right;
//		@include column(220);
		@include clearfix;
		
		#user{
			background: transparent url(/images/user.png) no-repeat left top;
			font: bold 1.4em/1 $sans;
			color: #333;
			padding-left: 25px;
			float: right;
			margin-bottom: 1em;
		}
		
		#new-mail-button{
			@include button(#63b834);
			font-size: 1.4em;
			color: #fff;
			text-shadow: rgba(0,0,0, 0.6) 0 1px 1px;
			float: right;
			clear: both;
			
			&:active{
				top: auto;
			}
		}
		
		ul{
			@include clearfix;
			float: left;
			top: 0.4em;
			margin-right: 1em;
			
			li{
				float: left;
				text-align: center;
				width: 60px;
				margin-right: 19px;
				font-size: 1.2em;
				
				&:last-child{
					margin-right: 0;
				}
				
			}
			
		}
	}
}