.new section.modal{
	display: block;
	@include box-shadow(none);
	border: 1px solid #eee;
	
	header{
		background: none;
		border: 0;
		
		h2{
			color: #555;
			text-shadow: none;
		}
	}
	
	.close{
		display: none;
	}
}

section.modal{
	display: none;
	background-color: rgba(255,255,255, 0.97);
	width: 660px;
	padding: 2em;
	@include box-shadow(rgba(0,0,0, 0.5) 0 3px 10px);
	@include border-radius(0.3em);
	
	
	header{
		@include gradient(#363636, #101010);
		border-bottom: 1px solid darken($comp, 20%);
		border-top: 1px solid rgba(255,255,255, 0.6);
		margin: -20px -20px 0 -20px;
		padding: 15px 20px 10px;
		@include border-radius(3px);
		
		h2{
			border: 0;
			line-height: 1;
			color: #fff;
			text-shadow: #000 0 1px 0;
			margin: 0;
			text-align: center;
		}
	}

	
	.close{
		color: #fff;
		@include font(2.3em, 0);
		display: inline-block;
		font-weight: bold;
		padding: 7px 4px 4px;
		position: absolute;
		top: -5px;
		right: -7px;
		background-color: #000;
		border: 3px solid #fff;
		@include border-radius(1em);
		@include box-shadow(rgba(0,0,0, 0.6) -1px 1px 3px);
		text-decoration: none;
		
		&:active{
			border-color: #ddd;
			top: -4px;
			color: #ddd;
		}
	}
	
	.arrow{
		font-size: 2em;
		float: left;
		display: inline-block;
		padding: 0 0.6em;
		color: #101010;
		position: relative;
		top: 20px;
	}
	
	.floats{
		float: left;
		width: 45%;
	}
	
	/* For the show modal */
	&#show-mail{
		background-color: lighten(yellow, 45%);
		
		header{
			background-image: url(/images/show-mail-header.png);
			border-top: 0;
		}
		
		div#meta-container{
			@include border-radius(1em);
			background-color: #e7e7ce;
			border: 1px solid darken(#e7e7ce, 10%);
			margin: 2em 0;
			padding: 2em;
			@include transition(all 0.2s ease-in-out);
			
			&:hover{
				background-color: lighten(#e7e7ce, 3%);
			}
		}
		
		#meta{
			margin: 0 auto;
			
			tr{
				font-size: 1.3em;
				
				td{
					border-bottom: 1px solid rgba(0,0,0, 0.1);
					height: 25px;
					vertical-align: middle;
					border-right: 1px solid rgba(0,0,0, 0.1);
					
					&:first-child, &:nth-child(3){
						width: 70px;
						font-weight: bold;
						font-family: $sans;
						
					}
					&:last-child, &:nth-child(2), &:nth-child(3){
						padding: 0 10px;
					}
					&:last-child{
						border-right: 0;
					}
				}
			
				&:last-child{
					td{
						border-bottom: 0;
					}
				}
			
			}
		}
		
		#mail-content{
			width: 80%;
			margin: 0 auto;
			background: transparent url(/images/symbol.png) no-repeat center top;
			padding-top: 3em;
			
			p{
				line-height: 1.8;
				font-size: 1.5em;
				font-family: Palatino, Georgia, Baskerville, "Times New Roman", Times, serif;
				margin-bottom: 1em;
			}
		}
		
	}
	
	
	
}
