section.modal{
	display: none;
	background-color: rgba(255,255,255, 0.97);
	width: 660px;
	padding: 2em;
	@include box-shadow(rgba(0,0,0, 0.5) 0 3px 10px);
	@include border-radius(0.3em);
	
	h2{
		background-color: #ddd;
		@include gradient(lighten($comp, 30%), $comp);
		border-bottom: 1px solid darken($comp, 20%);
		border-top: 1px solid rgba(255,255,255, 0.7);
		margin: -20px -20px 0 -20px;
		padding: 20px 20px 10px;
		line-height: 1;
		color: #fff;
		text-shadow: #000 0 -1px 0;
	}
	
	.close{
		color: #fff;
		@include font(2.3em, 0);
		display: inline-block;
		font-weight: bold;
		padding: 7px 4px 4px;
		position: absolute;
		top: -5px;
		right: -7px;
		background-color: #000;
		border: 3px solid #fff;
		@include border-radius(1em);
		@include box-shadow(rgba(0,0,0, 0.6) -1px 1px 3px);
	}
	
	.arrow{
		font-size: 2em;
		float: left;
		display: inline-block;
		padding: 0 0.6em;
		color: $comp;
		text-shadow: #000 0 1px 0;
		position: relative;
		top: 20px;
	}
	
	.floats{
		float: left;
		width: 45%;
	}
}
