<%if target.errors.any?%>
<div>
	<h2>Something went wrong!</h2>
  <ul id="error_explanation">
      <%target.errors.full_messages.each do |msg|%>
        <li><%=msg%></li>
        <%end%>
  </ul>
</div>
<%end%>
