@mixin row{
	height: 6em;
	margin-bottom: 2em;
}


/*	=MAIN
	------------------------------------------------------ */
	
section[role="main"]{
	@include clearfix;
}

/*	=LINKS
	------------------------------------------------------ */

a{
	color: $accent;
	font-family: $sans;
	font-weight: bold;
	text-decoration: none;
	@include transition(color 0.2s ease-out);
}

a:hover{
	color: #000;
	text-decoration: underline;
}

a.current{	
	color: #363636;
	cursor: default;
	text-decoration: none;
}
	

/*	=HEADINGS
	------------------------------------------------------ */
	
section[role="main"] h1{
	font-size: 2em;
	text-align: center;
	line-height: 1.667;
	margin-bottom: 1em;
	padding: 1em 0 1.5em;
	border-bottom: 1px solid #eee;
	
	#mail-amount, #next-mail{
		//background: transparent url(/images/mail-icons.png) no-repeat left -17px;
		display: inline-block;
	//	padding-left: 22px;
	//	background-color: darken($accent, 3%);
	//	@include gradient(transparent, $accent);
	//	color: #fff;
		padding: 0 10px;
		@include border-radius(3px);
	//	@include box-shadow(rgba(0,0,0, 0.7) 0 1px 1px);
	//	text-shadow: #000 0 1px 0;
		
		border: 1px solid lighten(#C4BE00, 10%);
		@include gradient( transparentize(#F7F4A1, 0.2), darken(#F0EC7A, 5%));
		color: #363636;
		text-shadow: #fff 0 1px 0;
	}
	#next-mail{
	//	background-position: left 7px;
	}
	
	a:hover{
		text-decoration: none;
	}
}

h2{
	font: bold 1.8em/1.333 $sans;
	color: #555;
	margin-bottom: 1.1111em;

}

h3{
	font-size: 1.6em;
	margin-bottom: 1.25em;
	font-style: italic;
}


/*	=HEADER
	------------------------------------------------------ */
	
@import "partials/header";



/* =NEW MAIL */
/*-----------------------------------------*/

@import "partials/new";



/* =FORMS */
/*-----------------------------------------*/

@import "partials/forms";



/* =FRONTPAGE */
/*-----------------------------------------*/

@import "partials/frontpage";


/* =VIEW MAIL */
/*-----------------------------------------*/

.view{

	aside{
		float: left;
		
		ul{
			list-style: none;
			
			li{
				font-size: 1.3em;
				margin-bottom: 5px;
			}
		}
	
		strong{
			font-size: 0.9em;
			font-style: normal;
		}
	}
	
	.message-text{
		@include column(460);
		float: right;
	
		p{
			margin-bottom: 1.5em;
		}
	}

}


/* =LOGIN */
/*-----------------------------------------*/

@import "partials/login";



/* =SIDEBAR */
/*-----------------------------------------*/

@import "partials/sidebar";

/* =PAGINATION */
/*-----------------------------------------*/

div.pagination{
	text-align: center;
	margin: 2em 0;
	font-size: 1.3em;
	
	a{
		text-decoration: none;
		color: #333;
		
		&:hover{
			color: $accent;
		}
	}
	.previous_page, .next_page{
		margin: 0 1em;
	}
	
	a[rel]{
		display: inline-block;
		line-height: 1;
		border: 1px solid #ccc;
		background-color: #fff;
		padding: 0.3em 0.5em;
		
		&.next_page{
			border-left: 0;
		}
		&.previous_page{
			border-right: 0;
		}
		
		&:hover{
			border-color: transparentize($accent, 0.7);
		}
	}
	
	em, .disabled{
		font-family: $sans;
		color: #999;
		font-style: italic;
	}
	em{
		margin: 0 0.5em;
	}
}


/* =MODAL */
/*-----------------------------------------*/


@import "partials/modal";


/* =MESSAGES */
/*-----------------------------------------*/

@-webkit-keyframes pulsate{
	0%{background-color: lighten(#D10000, 5%);}
	50%{background-color: lighten(#D10000, 30%);}
	100%{background-color: lighten(#D10000, 5%);}
}

div.flash{
	margin-bottom: 2em;
	border: 1px solid #ddd;
	@include border-radius(0.3em);


	p{
		font-family: $sans;
		padding: 0.5em 0;
		font-weight: bold;
		text-align: center;
		color: #fff;
		text-shadow: #000 0 1px 0;
	}
	

}

div.flash_success p{
	border-color: #C4BE00;
	@include gradient( transparentize(#F7F4A1, 0.2), #F0EC7A);
	color: #363636;
	text-shadow: #fff 0 1px 0;
}
div.flash_failure p{
	border-color: #990000;
	background-color: #D10000;
	@include gradient( transparent, #B30000);
}

#errors{
	margin-bottom: 2em;
	
	& > div{
		border: 1px solid #ddd;
		@include border-radius(0.5em);
	}
	
	h2{	
		border-color: darken(#990000, 10%);
		background-color: #D10000;
		@include gradient( transparent, #B30000);
		-webkit-animation-name: pulsate;
		-webkit-animation-duration: 2s;
		-webkit-animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		font-family: $sans;
		font-size: 1.4em;
		padding: 0.5em 0;
		font-weight: bold;
		text-align: center;
		color: #fff;
		text-shadow: #000 0 1px 0;
	}

	ul{
		list-style-type: square;
		list-style-position: inside;
		margin: 1em 0 2em 6%;
	}
	li{
		font-size: 1.3em;
		font-family: $sans;
		font-weight: bold;
		margin-bottom: 5px;
	}
}

div.flash_notice p{
	border-color: #C4BE00;
	@include gradient( transparentize(#F7F4A1, 0.2), #F0EC7A);
	color: #363636;
	text-shadow: #fff 0 1px 0;
}


/*	=FOOTER
	------------------------------------------------------ */
	
footer[role="contentinfo"]{
	@include row;
	margin-top: 2em;
	padding-top: 2em;
	
	small{
		font-size: 120%;
	}
}


/*- optional vanity styles ----------*/


img::selection {background: transparent;}
img::-moz-selection {background: transparent;}